h1 {
  font-style: italic;
  text-align: center;
}


p.favorite-website {
  color: LightSeaGreen;
}


#page {
  text-align: center;
}

div.developer {
  width: 200px;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
}

.food {
  list-style-position: inside;
  color: lightSeaGreen;
  width: 200px;

  text-align: center !important;
  margin: auto !important;

  border: 2px solid grey;
  border-radius: 5px;
  padding: 6px;
}
